

#selector {
    display: flex;
    justify-content: center;
    align-items: center
}

#mycanvas {
    display: none;
    margin-top: 10px;
    border: 5px solid rgb(255, 255, 255);
}

//selector

.fighter {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: gray;
    cursor: pointer;
  }

  .selected {
    width: 110px;
    height: 110px;
    background-color: yellow;
    margin: 10px;
    display: inline-block;
  }

  .image_fighter {
    width: 100px;
    height: 90px;

  }

.buttons-game {
    margin-top: 10px;
}

button a {
    text-decoration: none;
}
#battle {
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
}

#tooltip {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid black;
    padding: 30px;
}

#tooltip h3 {
    color: rgb(25, 49, 102);
    font-weight: 800;
    text-decoration: underline;
}

#tooltip p {
    font-size: 1.3rem;
}
#atributos_estadisticas {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#atributos_estadisticas p {
    -webkit-text-stroke: 0.4px rgb(0, 0, 0);
    /* text-stroke: 1px rgb(0, 0, 0); */
    margin-right: 40px;
}

#atributos_estadisticas p#Defense {
    color: orange;
  }

  #atributos_estadisticas p#AttackDamage {
    color: red;
  }

  #atributos_estadisticas p#AttackSpeed {
    color: yellow;
  }

  #atributos_estadisticas p#SpeedMovement {
    color: cyan;
  }

  #atributos_estadisticas p#reach {
    color: green;
  }

  #labelHitbox {
    color: white;
    margin-left: 20px;
  }




